.top-image {
    text-align: center;
    color: white;
    background-image: url("/assets/backgrounds/h_img.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.text1 {
    padding-top: 150px;
}

.second-image {

    background-image: url("/assets/backgrounds/s_image.jpg");

    color: white;
    text-align: center;
}

.about {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.service_heading {
    text-align: center;
    padding-bottom: 40px;
}

.what_we_do {

    margin-top: 40px;
}

.design_text, .dev_text, .manage_text {
    text-align: center;
    display: none;
}

 


.portfolio {
    margin-top: 40px;
    text-align: center;



}


.portfolio-item1, .portfolio-item2, .portfolio-item3, .portfolio-item4, .portfolio-item5, .portfolio-item6, .portfoio-item7, .portfolio-item8{
    position: relative;
}

.overlay1, .overlay2, .overlay3, .overlay4, .overlay5, .overlay6, .overlay8{
    color: white;
    position: absolute;
    top: 17px;
    left: 50px;
    border: 2px solid;
    padding: 100px;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.2);
    display: none;
}

.contact_us {
    margin-top: 40px;
    background-image: url("/assets/backgrounds/c_image.jpg");
    color: white;
    text-align: center;
}

.form-control {
    background-color: transparent;
    width: 50%;
    height: 400px;
    margin: auto;
    margin-bottom: 100px;
}

.form-control::placeholder {
    color: white;
    opacity: 1;

}

::placeholder {
    color: white;
    opacity: 1;
}

ul {
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-content: center;

}

footer {

    text-align: center;
}

input {
    background-color: transparent;
}

.nameInput {
    width: 400px;
    margin-right: 50px;
    margin-bottom: 20px;
}

#mce-EMAIL {
    width: 400px;
    margin-bottom: 20px;
}

.services-text {
    padding: 90px 0 90px 0;

}

li {
    margin-right: 10px;
}