.top-image{
    text-align: center;
    color:white;
    background-image: url("/assets/backgrounds/h_img.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.second-image{
    background-image: url("/assets/backgrounds/s_image.jpg");
   
    color: white;
    text-align: center;
}

.what_we_do{

}
.portfolio{
   
  text-align: center;
  width:70%;
 
 }
.contact_us{
    background-image: url("/assets/backgrounds/c_image.jpg");
  
} 
ul{
    list-style: none;
    display: flex;

}
footer{

    text-align: center;
}